In [2]:
import pandas as pd
import numpy as np

In [3]:
comp = pd.read_csv('company_sql.csv',encoding='gbk')
pos = pd.read_csv('DataAnalyst1.csv',encoding='gbk')
pos.city.unique()

array(['上海', '深圳', '北京', '广州', '杭州', '成都', '南京', '武汉', '西安', '厦门', '长沙',
       '苏州', '天津'], dtype=object)

In [4]:
pos.head(10)

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,workYear,bottom,top,avg
0,上海,纽海信息技术(上海)有限公司,8581,"['技能培训', '节日礼物', '带薪年假', '岗位晋升']",1号店,2000人,['张江'],技术,数据开发,硕士,移动互联网,2537336,知名平台,数据分析师,"['分析师', '数据分析', '数据挖掘', '数据']",7k-9k,应届毕业生,7,9.0,8.0
1,上海,上海点荣金融信息服务有限责任公司,23177,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,数据开发,本科,金融,2427485,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,应届毕业生,10,15.0,12.5
2,上海,上海晶樵网络信息技术有限公司,57561,"['技能培训', '绩效奖金', '岗位晋升', '管理规范']",SPD,50-150人,['打浦桥'],设计,数据分析,本科,移动互联网,2511252,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,应届毕业生,4,6.0,5.0
3,上海,杭州数云信息技术有限公司上海分公司,7502,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,"企业服务,数据服务",2427530,五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,应届毕业生,6,8.0,7.0
4,上海,上海银基富力信息技术有限公司,130876,"['年底双薪', '通讯津贴', '定期体检', '绩效奖金']",银基富力,15-50人,"['上海影城', '新华路', '虹桥']",技术,软件开发,本科,其他,2245819,在大牛下指导,BI开发/数据分析师,"['分析师', '数据分析', '数据', 'BI']",2k-3k,应届毕业生,2,3.0,2.5
5,上海,上海青之桐投资管理有限公司,28095,"['美女多', '出国旅游', '不打卡', '带薪年假']",青桐资本,50-150人,NaN,金融类,天使投资/VC/PE,本科,金融,2580543,"留用机会,精品投行,优秀团队,氛围轻松",助理分析师,"['实习', '投资', 'FA', '行业研究', '分析师']",10k-15k,应届毕业生,10,15.0,12.5
6,上海,上海好体信息科技有限公司,2002,"['年底双薪', '股票期权', '扁平管理', '领导好']",足球魔方,150-500人,"['龙华', '植物园', '上海南站']",技术,后端开发,本科,"移动互联网,电子商务",1449715,薪资福利待遇好，晋升空间大,数据工程师,['数据'],7k-14k,应届毕业生,7,14.0,10.5
7,上海,上海安硕信息技术股份有限公司,21863,"['岗位晋升', '顶尖团队', '福利优厚', '股票期权']",安硕信息（amarsoft）,2000人,"['黄兴公园', '长白新村', '延吉']",产品/需求/项目类,产品设计/需求分析,硕士,金融,2568628,健康体检,数据咨询顾问(2017年毕业),"['需求分析', '顾问', '咨询', '咨询顾问', '数据']",5k-7k,应届毕业生,5,7.0,6.0
8,上海,上海崇杏健康管理咨询有限公司,121208,"['扁平管理', '弹性工作', '岗位晋升', '领导好']",上海崇杏,15-50人,"['上海电视台', '南京西路', '人民广场']",技术,后端开发,本科,"移动互联网,医疗健康",2416852,"扁平管理,上升空间大,领导好,弹性工作",数据处理工程师（实习生）,"['后端开发', '数据']",4k-8k,应届毕业生,4,8.0,6.0
9,上海,五五海淘（上海）科技股份有限公司,58109,"['股票期权', '带薪年假', '绩效奖金', '岗位晋升']",55海淘,150-500人,"['漕宝路', '万源城', '东兰路']",技术,后端开发,本科,电子商务,1605795,向大牛学习，有留司机会,数据处理实习生,['数据'],2k-4k,应届毕业生,2,4.0,3.0

In [5]:
#查找表列名，以及修改表列名,注意要改完列表后賦值
comp.head(10)
col = list(comp.columns)
col[0] = 'id'
comp.columns = col

In [6]:
#多表关联的方法，merge是按照列的字段进行关联
comp.head(10)
new_f = pos.merge(right = comp, how= 'inner',left_on='companyId',right_on='id')

In [40]:
new_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6876 entries, 0 to 6875
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city                6876 non-null   object
 1   companyFullName_x   6876 non-null   object
 2   companyId           6876 non-null   int64
 3   companyLabelList_x  6170 non-null   object
 4   companyShortName_x  6876 non-null   object
 5   companySize_x       6876 non-null   object
 6   businessZones_x     4873 non-null   object
 7   firstType           6869 non-null   object
 8   secondType          6870 non-null   object
 9   education           6876 non-null   object
 10  industryField       6876 non-null   object
 11  positionId          6876 non-null   int64
 12  positionAdvantage   6876 non-null   object
 13  positionName        6876 non-null   object
 14  positionLables      6844 non-null   object
 15  salary              6876 non-null   object
 16  workYear            6876 non-null   object
 17  bottom              6876 non-null   int64
 18  top                 6823 non-null   float64
 19  avg                 6876 non-null   float64
 20  id                  6876 non-null   int64
 21  companyFullName_y   6876 non-null   object
 22  companyLabelList_y  6170 non-null   object
 23  companyShortName_y  6876 non-null   object
 24  companySize_y       6876 non-null   object
 25  businessZones_y     4791 non-null   object
dtypes: float64(2), int64(4), object(20)
memory usage: 1.4+ MB

In [7]:
#avg已经是series了，所以可以切，如果想多维切片求数据，则用loc
pos.groupby(by = ['city','education']).mean().avg['上海']['博士']
pos.groupby(by = ['city','education']).mean().loc['上海','博士']
pos.groupby(by = ['city','education']).mean().reset_index().head()

  city education      companyId    positionId     bottom        top        avg
0   上海        不限   62774.264706  2.136313e+06  10.147059  17.955882  14.051471
1   上海        博士  106594.666667  2.318894e+06  11.000000  19.000000  15.000000
2   上海        大专   69844.818182  2.224099e+06  10.045455  16.745455  13.395455
3   上海        本科   55808.255525  2.151066e+06  13.414365  22.696503  17.993785
4   上海        硕士   67155.866667  2.105773e+06  14.000000  24.410959  19.180000

In [25]:
#不用groupby的另外一种方式,直接用set_index是未加工的，先用sort_values进行排序在进行加工
pos.set_index(['city','education'])
pos.sort_values(['city','education']).set_index(['city','education'])

                 companyFullName  companyId  \
city education
上海   不限              上海萨图西网络有限公司      42029
     不限             上海寒诀网络科技有限公司     126229
     不限              北京源石云科技有限公司      70728
     不限              上海萨图西网络有限公司      42029
     不限             上海星艾网络科技有限公司      34331
...                          ...        ...
长沙   本科          北京思特奇信息技术股份有限公司       4184
     本科         湖南快乐阳光互动娱乐传媒有限公司      26785
     本科             中和农信项目管理有限公司       7382
     本科             湖南银杏数据科技有限公司     140487
     硕士         湖南快乐阳光互动娱乐传媒有限公司      26785

                                    companyLabelList companyShortName  \
city education
上海   不限            ['弹性工作', '比特币', 'Slack', '标配Mac']             BTCC
     不限                                          NaN             麦萌漫画
     不限             ['节日礼物', '技能培训', '股票期权', '带薪年假']             源石数据
     不限            ['弹性工作', '比特币', 'Slack', '标配Mac']             BTCC
     不限         ['结婚生育红包', '社团活动经费', '免费晚餐', '上门推拿']             么么直播
...                                              ...              ...
长沙   本科         ['绩效奖金 ', '专项奖金 ', '五险一金 ', '通讯津贴 ']       思特奇Si-tech
     本科              ['节日礼物', '免费班车', '带薪年假', '领导好']             芒果tv
     本科             ['绩效奖金', '五险一金', '带薪年假', '定期体检']             中和农信
     本科                      ['五险一金', '双休', '学习型公司']             银杏数据
     硕士              ['节日礼物', '免费班车', '带薪年假', '领导好']             芒果tv

               companySize           businessZones firstType secondType  \
city education
上海   不限            50-150人                     NaN        设计       数据分析
     不限            50-150人                     NaN        设计       数据分析
     不限            50-150人     ['田林', '漕河泾', '虹桥']        运营         运营
     不限            50-150人                     NaN        技术       数据开发
     不限            50-150人  ['万源城', '静安新城', '漕宝路']  运营/编辑/客服         运营
...                    ...                     ...       ...        ...
长沙   本科              2000人                     NaN        技术       后端开发
     本科          500-2000人                ['广电中心']        技术         测试
     本科              2000人   ['银盆岭', '观沙岭', '市政府']        技术        DBA
     本科             15-50人                     NaN        技术        管理岗
     硕士          500-2000人                ['广电中心']        运营         运营

               industryField  positionId        positionAdvantage  \
city education
上海   不限                   金融     2509282      从“0到1,区块链,比特币,国际化团队
     不限           移动互联网,电子商务     2245520             数据分析,数据挖掘,数据
     不限           移动互联网,数据服务     2398667                 高薪等你来挑战！
     不限                   金融     2052967    技术驱动,区块链技术,硅谷文化,多元化团队
     不限           移动互联网,社交网络     2581935      老板逗逼,大牛云集,弹性时间,福利暖心
...                      ...         ...                      ...
长沙   本科                 数据服务     1983050      高薪双休、五险一金、培养机制和晋升机制
     本科                 文化娱乐     2110428          一流的平台,迷之福利,丰厚奖金
     本科             移动互联网,金融      745257          五险一金、双休、年假、带薪病假
     本科                 数据服务     2389932  发展前景好,职业培训多,福利待遇好,管理自由化
     硕士                 文化娱乐     2192339       五险一金,年底双薪,年终奖,餐饮补贴

                         positionName         positionLables   salary  \
city education
上海   不限                         数据分析师  ['分析师', '数据分析', '数据']   8k-16k
     不限                         数据分析师  ['分析师', '数据分析', '数据']   6k-12k
     不限                         数据分析师  ['分析师', '数据分析', '数据']   8k-15k
     不限         数据工程师 / Data Engineer         ['数据挖掘', '数据']  10k-20k
     不限                        数据分析主管         ['数据', '数据分析']    6k-8k
...                               ...                    ...      ...
长沙   本科                J2EE高级工程师（大数据）  ['J2EE', '大数据', '数据']   8k-16k
     本科                 数据质量工程师（技术中心）           ['测试', '数据']   8k-15k
     本科                         数据工程师                 ['数据']   9k-12k
     本科                         数据工程师          ['管理岗', '数据']   5k-10k
     硕士                       高级运营分析师    ['分析师', '运营', '数据']   6k-12k

               workYear  bottom   top   avg
city education
上海   不限            1-3年       8  16.0  12.0
     不限            1-3年       6  12.0   9.0
     不限            1-3年       8  15.0  11.5
     不限            1-3年      10  20.0  15.0
     不限            1-3年       6   8.0   7.0
...                 ...     ...   ...   ...
长沙   本科            3-5年       8  16.0  12.0
     本科            3-5年       8  15.0  11.5
     本科           5-10年       9  12.0  10.5
     本科              不限       5  10.0   7.5
     硕士            3-5年       6  12.0   9.0

[6876 rows x 18 columns]

In [1]:
#pandas文本修正,将原本的"[]"去掉。去掉引号‘’
pos.positionLables.str[1:-1].str.replace("","")
pos.city.count()

NameError: name 'pos' is not defined

In [83]:
#用loc做行索引,行标签才行
pos.loc[980]
pos.loc[pos.city == '深圳','city'] = np.NAN
pos.dropna()
#刪除里面的控制

In [9]:
pos = pos.fillna('深圳')
pos.duplicated()
#查找是否有重复值，并且切出重复值,保留重复值的最后一个，或者第一个first
pos[pos.duplicated(keep = 'last')]
pos[~pos.duplicated()]
pos.drop_duplicates().head()
#~返回非重复值，唯一值

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,workYear,bottom,top,avg
0,上海,纽海信息技术(上海)有限公司,8581,"['技能培训', '节日礼物', '带薪年假', '岗位晋升']",1号店,2000人,['张江'],技术,数据开发,硕士,移动互联网,2537336,知名平台,数据分析师,"['分析师', '数据分析', '数据挖掘', '数据']",7k-9k,应届毕业生,7,9,8.0
1,上海,上海点荣金融信息服务有限责任公司,23177,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,数据开发,本科,金融,2427485,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,应届毕业生,10,15,12.5
2,上海,上海晶樵网络信息技术有限公司,57561,"['技能培训', '绩效奖金', '岗位晋升', '管理规范']",SPD,50-150人,['打浦桥'],设计,数据分析,本科,移动互联网,2511252,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,应届毕业生,4,6,5.0
3,上海,杭州数云信息技术有限公司上海分公司,7502,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,"企业服务,数据服务",2427530,五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,应届毕业生,6,8,7.0
4,上海,上海银基富力信息技术有限公司,130876,"['年底双薪', '通讯津贴', '定期体检', '绩效奖金']",银基富力,15-50人,"['上海影城', '新华路', '虹桥']",技术,软件开发,本科,其他,2245819,在大牛下指导,BI开发/数据分析师,"['分析师', '数据分析', '数据', 'BI']",2k-3k,应届毕业生,2,3,2.5

In [26]:
#apply可以对表进行函数处理,axi=0为函数应用到每个列，axis=1运用到每行
pos.avg.apply(lambda x: str(x)+'k')
def func(x):
    if x > 20: return '20+'
    else: return '< 20'
pos.apply(lambda x :func(x.avg),axis=1)

def func(x):
    if x > 20: return '20+'
    else: return '<20'
pos.avg.apply(func)
#针对每行的x中x.avg进行判断
def func(x):
    if x.avg > 20: return '20+'
    else: return '<20'
pos.apply(func,axis=1)

0       <20
1       <20
2       <20
3       <20
4       <20
       ...
6871    <20
6872    20+
6873    20+
6874    <20
6875    <20
Length: 6876, dtype: object

In [49]:
#求每个城市工资排名前5/3的职位明细,用法很灵活
def func(x, n, asc):
    r = x.sort_values('avg',ascending = asc)[:n]
    return r 
pos.groupby(by = 'city').apply(func, n=3, asc = False)

          city  companyFullName  companyId  \
city
上海   844    上海     上海遇志投资管理有限公司     151989
     836    上海   上海友希数码科技发展有限公司     150849
     782    上海    上海管易云计算软件有限公司      10821
北京   2865   北京   北京达佳互联信息技术有限公司       1880
     6596   北京   北京盛世好运投资管理有限公司     144570
     3496   北京   北京盛世好运投资管理有限公司     144570
南京   4773   南京    江苏思柯瑞数据科技有限公司     133669
     4785   南京       南京途牛科技有限公司       8250
     4787   南京    孩子王儿童用品股份有限公司      31945
厦门   4947   厦门     厦门光鱼信息科技有限公司     123068
     4954   厦门     厦门笨鸟电子商务有限公司      84086
     4956   厦门     厦门渊亭信息科技有限公司     128288
天津   5036   天津     天津丰赢未来科技有限公司      66805
     5040   天津    天津呆萌小斑马科技有限公司      92444
     5034   天津       北京极数科技有限公司     132876
广州   4106   广州   三七互娱（上海）科技有限公司        658
     4126   广州         优视科技有限公司       2202
     4104   广州     广州铁人网络科技有限公司       8695
成都   4689   成都     成都数联铭品科技有限公司      42711
     4693   成都       成都运力科技有限公司      19365
     4695   成都     上海行邑信息科技有限公司      52905
杭州   4592   杭州     上海徕木电子股份有限公司     106239
     4476   杭州    厦门市云客网络科技有限公司      23573
     4553   杭州       广州库牌电子有限公司     154782
武汉   4863   武汉     武汉斗鱼网络科技有限公司      37236
     4837   武汉       至易科技武汉有限公司     130686
     4872   武汉   纽海信息技术(上海)有限公司       8581
深圳   1376   深圳         华为技术有限公司       3060
     1391   深圳    武汉佰钧成技术有限责任公司      16831
     1428   深圳         华为技术有限公司       3060
苏州   5015   苏州  智慧芽信息科技（苏州）有限公司      35384
     5019   苏州     同程网络科技股份有限公司       3564
     5014   苏州    苏州思必驰信息科技有限公司         94
西安   4924   西安      深圳市易流科技有限公司       5672
     4917   西安       北京天晓科技有限公司     157418
     4921   西安  北京思特奇信息技术股份有限公司       4184
长沙   4968   长沙    益丰大药房连锁股份有限公司       6628
     4979   长沙   天闻数媒科技（北京）有限公司      95484
     4973   长沙       长沙网舜科技有限公司      66137

                               companyLabelList companyShortName companySize  \
city
上海   844       ['年底双薪', '股票期权', '创业氛围', '专项奖金']             复星金服       2000人
     836       ['年底双薪', '专项奖金', '年终分红', '带薪年假']             友希科技   500-2000人
     782       ['绩效奖金', '年底双薪', '五险一金', '午餐补助']    上海管易云计算软件有限公司    150-500人
北京   2865      ['股票期权', '五险一金', '弹性工作', '定期体检']               快手     50-150人
     6596                                   NaN             盛世金控       2000人
     3496                                   NaN             盛世金控       2000人
南京   4773                                   NaN              思柯瑞      15-50人
     4785      ['绩效奖金', '股票期权', '五险一金', '带薪年假']            途牛旅游网       2000人
     4787      ['节日礼物', '技能培训', '年度旅游', '岗位晋升']              孩子王       2000人
厦门   4947        ['年终分红', '交通补助', '美女多', '领导好']             光鱼全景      15-50人
     4954      ['节日礼物', '股票期权', '带薪年假', '岗位晋升']             笨鸟社交     50-150人
     4956      ['年底双薪', '股票期权', '专项奖金', '绩效奖金']           渊亭信息科技      15-50人
天津   5036      ['技能培训', '带薪年假', '绩效奖金', '岗位晋升']             丰赢未来       少于15人
     5040        ['股票期权', '带薪年假', '帅哥多', '美女多']           AIRCOS      15-50人
     5034       ['股票期权', '年终分红', '带薪年假', '领导好']              数极客       少于15人
广州   4106      ['绩效奖金', '五险一金', '通讯津贴', '交通补助']             三七互娱   500-2000人
     4126    ['年度分红', '年度奖金', '股票期权', '每年2次加薪']     阿里巴巴移动事业群-UC       2000人
     4104      ['技能培训', '专项奖金', '股票期权', '带薪年假']     阿里移动事业群-PP助手    150-500人
成都   4689      ['带薪年假', '绩效奖金', '扁平管理', '定期体检']              BBD    150-500人
     4693    ['快速成长型', '薪酬优厚', '股票期权', '扁平化管理']              货车帮   500-2000人
     4695       ['股票期权', '心不累', '绩效奖金', '岗位晋升']           Maxent      15-50人
杭州   4592        ['节日礼物', '绩效奖金', '美女多', '帅哥多']             徕木电子       2000人
     4476      ['年终分红', '绩效奖金', '股票期权', '专项奖金']    厦门市云客网络科技有限公司     50-150人
     4553                                   NaN               库牌      15-50人
武汉   4863      ['技能培训', '绩效奖金', '年度旅游', '管理规范']             斗鱼直播   500-2000人
     4837                                   NaN             至易科技      15-50人
     4872      ['技能培训', '节日礼物', '带薪年假', '岗位晋升']              1号店       2000人
深圳   1376      ['技能培训', '节日礼物', '股票期权', '绩效奖金']         华为技术有限公司       2000人
     1391     ['带薪年假', '计算机软件', '管理规范', '定期体检']      武汉佰钧成技术有限公司       2000人
     1428      ['技能培训', '节日礼物', '股票期权', '绩效奖金']         华为技术有限公司       2000人
苏州   5015      ['技能培训', '年底双薪', '节日礼物', '绩效奖金']              智慧芽    150-500人
     5019      ['绩效奖金', '股票期权', '专项奖金', '年底双薪']             同程旅游       2000人
     5014      ['年底双薪', '五险一金', '弹性工作', '年度旅游']            思必驰科技    150-500人
西安   4924      ['绩效奖金', '年底双薪', '五险一金', '股票期权']               易流   500-2000人
     4917                ['年底双薪', '绩效奖金', '五险']             天晓科技     50-150人
     4921  ['绩效奖金 ', '专项奖金 ', '五险一金 ', '通讯津贴 ']       思特奇Si-tech       2000人
长沙   4968      ['年底双薪', '绩效奖金', '五险一金', '免费午餐']            益丰大药房       2000人
     4979       ['专项奖金', '绩效奖金', '岗位晋升', '领导好']             天闻数媒    150-500人
     4973      ['年底双薪', '节日礼物', '技能培训', '绩效奖金']             网舜科技     50-150人

                    businessZones  firstType secondType education  \
city
上海   844                  ['漕河泾']         技术        管理岗        硕士
     836                   ['张江']  开发/测试/运维类       数据开发        本科
     782                   ['张江']         技术        管理岗        本科
北京   2865  ['中关村', '北京大学', '苏州街']  开发/测试/运维类       运维安全        本科
     6596                  ['朝外']         技术        管理岗        本科
     3496                  ['朝外']         技术        管理岗        本科
南京   4773                     NaN         技术       后端开发        本科
     4785                     NaN         技术       数据开发        本科
     4787   ['瑞金路', '紫金山', '后宰门']         技术       后端开发        本科
厦门   4947                     NaN         技术        DBA        本科
     4954                  ['莲前']         技术       后端开发        硕士
     4956                     NaN         技术       后端开发        不限
天津   5036                 ['李七庄']         技术       后端开发        本科
     5040                     NaN         技术       后端开发        本科
     5034                  ['华明']         技术       后端开发        本科
广州   4106    ['天河公园', '棠下', '天园']         技术     高端技术职位        本科
     4126    ['员村', '天河公园', '棠下']         技术     高端技术职位        本科
     4104    ['员村', '天河公园', '棠下']         技术       后端开发        本科
成都   4689                     NaN         技术     高端技术职位        本科
     4693                     NaN         技术       后端开发        本科
     4695                  ['石羊']         技术     高端技术职位        本科
杭州   4592                  ['仓前']         职能     高端职能职位        本科
     4476                     NaN         技术       后端开发        大专
     4553                  ['西溪']  开发/测试/运维类       数据开发        本科
武汉   4863      ['关山', '光谷', '鲁巷']  开发/测试/运维类         安全        本科
     4837      ['车站', '永清', '江滩']         技术       后端开发        不限
     4872                     NaN         技术        DBA        本科
深圳   1376                     NaN  开发/测试/运维类       运维安全        本科
     1391           ['坂田', '万科城']  开发/测试/运维类       数据开发        本科
     1428                     NaN         技术       后端开发        本科
苏州   5015                     NaN         技术     高端技术职位        本科
     5019                     NaN         技术     高端技术职位        本科
     5014                 ['独墅湖']  开发/测试/运维类       软件开发        硕士
西安   4924                     NaN         技术     高端技术职位        本科
     4917                  ['郭杜']  开发/测试/运维类       软件开发        本科
     4921                     NaN         技术     高端技术职位        本科
长沙   4968                     NaN      市场与销售      市场/营销        本科
     4979                 ['洞井铺']         技术       后端开发        本科
     4973  ['麓谷', '麓谷锦园', '汽车西站']         技术        DBA        大专

          industryField  positionId     positionAdvantage  \
city
上海   844       金融,移动互联网     2475927  复兴集团背景 强大资源投入 发挥空间巨大
     836             硬件     2568751     VR,微鲸科技,阿里腾讯,行业领先
     782     移动互联网,电子商务     2433090     薪资优、福利全、平台大、产品应用广
北京   2865         移动互联网     2538369  待遇优厚,平台超赞,租房补助,美味午晚餐
     6596       金融,社交网络     2462755             智慧社区、综合管理
     3496       金融,社交网络     2462755             智慧社区、综合管理
南京   4773    数据服务,移动互联网     2279511    高薪资、提供住宿、高水准研究开发团队
     4785       电子商务,旅游     2168293    年终奖，餐饮补贴，弹性工作，免费班车
     4787          生活服务     2512050        母婴大平台，公司快速发展阶段
厦门   4947    移动互联网,企业服务     2559895     双休车食补贴法定节假日医社保年终奖
     4954     电子商务,社交网络     2042554     牛人多,扁平化,五险一金,员工福利
     4956     数据服务,企业服务     1894326                广大发展空间
天津   5036    移动互联网,数据服务     2343332   五险一金，补充医疗保险，带薪休假，话补
     5040         移动互联网     2472967         股票期权、弹性工作、美女多
     5034     数据服务,企业服务     1934925     大数据平台 创业机会 高额股份期权
广州   4106            游戏     1110078        互联网30强企业 团队年轻化
     4126         移动互联网      817308   包四餐（下午茶）、无息贷款买楼车、双休
     4104         移动互联网     2434980   年终分红,五险一金,股票期权,免费三餐
成都   4689     电子商务,数据服务     2324434   带薪年假、扁平管理、发展空间、上市规划
     4693    移动互联网,电子商务     2437522  优厚薪酬 期权计划 下午茶晚餐 滴滴打车
     4695    移动互联网,数据服务     1317528   能力越大，责（quan）任（li）越大
杭州   4592      移动互联网,其他     2032485       平台前景 股份 能实现财务自由
     4476    移动互联网,电子商务     2478818                  五险一金
     4553         移动互联网     2522123           弹性上班时间，股票期权
武汉   4863         移动互联网     2551255            专业,核心,数据脱敏
     4837    移动互联网,电子商务     2491598        五险一金，节日福利，带薪年假
     4872         移动互联网     2514347      电商平台，大数据，高薪资高福利。
深圳   1376    移动互联网,企业服务     2573388                高薪~期权~
     1391    移动互联网,分类信息     2568716             五险一金，免费班车
     1428    移动互联网,企业服务     2505234            大平台+个人发展空间
苏州   5015         移动互联网     2064345          大数据方向，行业前景广阔
     5019      移动互联网,旅游     1818358       扁平管理 发展潜力大 成熟团队
     5014          企业服务     2578959            国内一流语音技术团队
西安   4924         移动互联网     2003822     老板nice，氛围好，提升机会多~
     4917       数据服务,其他     2574659        这是实现你人生价值最好的平台
     4921          数据服务     1994983  七险一金、带薪年假、专业培训、完善的福利
长沙   4968     电子商务,医疗健康     2316232  上市公司包吃包住五险一金周末双休年终双薪
     4979       教育,文化娱乐     2182674                  弹性工作
     4973    移动互联网,电子商务     1708654    带薪年假 年底双薪 包吃住 五险一金

                              positionName  \
city
上海   844                            数据技术总监
     836            大数据架构师（阿里/腾讯/华人文化共同投资）
     782                             大数据架构
北京   2865                        高级数据中心架构师
     6596                            大数据总监
     3496                            大数据总监
南京   4773                        高级爬虫数据工程师
     4785                         大数据开发工程师
     4787                           大数据架构师
厦门   4947                         大数据挖掘工程师
     4954                            数据工程师
     4956                           大数据工程师
天津   5036                     大数据工程师数据挖掘方向
     5040                            数据工程师
     5034                       大数据开发高级工程师
广州   4106                             数据总监
     4126                    数据研发工程师(实时方向)
     4104                      资深数据平台研发工程师
成都   4689                          大数据研发总监
     4693                         高级大数据工程师
     4695                           大数据架构师
杭州   4592                         业务数据分析专家
     4476                           大数据工程师
     4553                         大数据挖掘工程师
武汉   4863                        高级数据安全工程师
     4837                              大数据
     4872                          BI数据架构师
深圳   1376                         安全数据分析专家
     1391                           大数据架构师
     1428                             数据分析
苏州   5015                            大数据专家
     5019                         高级大数据架构师
     5014                        数据分析平台架构师
西安   4924                          数据团队负责人
     4917  云计算、大数据(Hadoop\Spark) 技术经理(架构师)
     4921                          大数据技术主管
长沙   4968                            统计分析师
     4979                         大数据开发工程师
     4973                         DBA数据分析师

                                              positionLables    salary  \
city
上海   844                                      ['技术总监', '数据']  50k-100k
     836                          ['专家', '架构师', '大数据', '数据']  50k-100k
     782                                ['大数据', '架构师', '数据']   35k-70k
北京   2865                                ['架构师', '运维', '数据']  50k-100k
     6596                               ['大数据', '合伙人', '数据']   60k-80k
     3496                               ['大数据', '合伙人', '数据']   60k-80k
南京   4773                                       ['爬虫', '数据']   20k-30k
     4785                       ['大数据', '数据挖掘', '数据库', '数据']   18k-30k
     4787                               ['大数据', '架构师', '数据']   18k-28k
厦门   4947                        ['大数据', '数据挖掘', '数据', '算法']   20k-30k
     4954                                             ['数据']   15K-30K
     4956                                      ['大数据', '数据']   10k-20k
天津   5036                              ['大数据', '数据挖掘', '数据']   15k-20k
     5040                                             ['数据']   12k-20k
     5034                               ['大数据', '数据库', '数据']   10k-20k
广州   4106                                             ['数据']   30k-60k
     4126                                             ['数据']   30k-50k
     4104                               ['平台', '后端开发', '数据']   30k-50k
成都   4689                                      ['大数据', '数据']   50k-80k
     4693                                      ['大数据', '数据']   20k-40k
     4695                               ['大数据', '架构师', '数据']   20k-40k
杭州   4592                                     ['数据分析', '数据']   40k-80k
     4476                                      ['大数据', '数据']   40k-80k
     4553  ['总监', '资深', '高级', '爬虫', '数据挖掘', '大数据', '数据挖掘'...   30K-60K
武汉   4863                                 ['专家', '数据', '安全']   18k-35k
     4837                                      ['大数据', '数据']   20k-30k
     4872                                ['架构师', '数据', 'BI']   20k-30k
深圳   1376         ['专家', '安全', '网络安全', '病毒分析', '数据分析', '数据']  50k-100k
     1391     ['资深', '数据分析', '数据挖掘', '机器学习', '图形处理', '人工智能']   40k-70k
     1428                                     ['数据分析', '数据']       50k
苏州   5015                                      ['大数据', '数据']   25k-35k
     5019                               ['大数据', '架构师', '数据']   20k-40k
     5014                        ['架构师', '数据分析', '数据', '平台']   20k-35k
西安   4924                                             ['数据']   30k-40k
     4917                                    ['架构师', '系统集成']   15k-30k
     4921                                      ['大数据', '数据']   10k-20k
长沙   4968                                            ['分析师']   10k-20k
     4979                               ['大数据', '数据库', '数据']   10k-20k
     4973                ['分析师', '数据分析', '数据库', 'DBA', '数据']    9k-18k

          workYear  bottom    top   avg
city
上海   844     5-10年      50  100.0  75.0
     836     5-10年      50  100.0  75.0
     782     5-10年      35   70.0  52.5
北京   2865     3-5年      50  100.0  75.0
     6596      10年      60   80.0  70.0
     3496      10年      60   80.0  70.0
南京   4773     3-5年      20   30.0  25.0
     4785    5-10年      18   30.0  24.0
     4787    5-10年      18   28.0  23.0
厦门   4947     1-3年      20   30.0  25.0
     4954       不限      15   30.0  22.5
     4956       不限      10   20.0  15.0
天津   5036    5-10年      15   20.0  17.5
     5040       不限      12   20.0  16.0
     5034     3-5年      10   20.0  15.0
广州   4106    5-10年      30   60.0  45.0
     4126    5-10年      30   50.0  40.0
     4104    5-10年      30   50.0  40.0
成都   4689    5-10年      50   80.0  65.0
     4693    5-10年      20   40.0  30.0
     4695    5-10年      20   40.0  30.0
杭州   4592       不限      40   80.0  60.0
     4476     3-5年      40   80.0  60.0
     4553    5-10年      30   60.0  45.0
武汉   4863    5-10年      18   35.0  26.5
     4837     3-5年      20   30.0  25.0
     4872    5-10年      20   30.0  25.0
深圳   1376    5-10年      50  100.0  75.0
     1391    5-10年      40   70.0  55.0
     1428      10年      50    NaN  50.0
苏州   5015    5-10年      25   35.0  30.0
     5019    5-10年      20   40.0  30.0
     5014    5-10年      20   35.0  27.5
西安   4924    5-10年      30   40.0  35.0
     4917     3-5年      15   30.0  22.5
     4921    5-10年      10   20.0  15.0
长沙   4968     1-3年      10   20.0  15.0
     4979     3-5年      10   20.0  15.0
     4973     3-5年       9   18.0  13.5

In [55]:
#agg函数的用法， 聚合，求和等，apply更加灵活，agg是聚合后的结果
pos.groupby('city').sum()
pos.groupby('city').mean()
pos.groupby('city').agg(['sum','mean'])
pos.groupby('city').agg(lambda x: max(x)-min(x))

      companyId  positionId  bottom   top   avg
city
上海       157090     2406115      49  98.0  73.5
北京       157622     2482622      59  98.0  73.5
南京       151545     1476696      19  28.0  23.5
厦门       144494     2382465      17  26.0  21.5
天津       128827     1938475      13  16.0  14.5
广州       156545     2433163      29  58.0  43.5
成都       157691     1827551      49  78.0  63.5
杭州       156376     2176582      38  77.0  57.5
武汉       146662     1900647      19  33.0  25.0
深圳       156878     2500258      49  98.0  73.5
苏州       135105     2401790      22  35.0  26.0
西安       154568     1299798      28  37.0  32.5
长沙       145079     1958454       8  17.0  12.5

In [17]:
#数据透视表.分组，分别聚合
pos.pivot_table(
        index = ['city','education'],
        columns = 'workYear',
        values =['avg','top'], 
        aggfunc={'avg':np.mean,
                 'top':np.sum}
        )

TypeError: unsupported operand type(s) for +: 'float' and 'str'